test-output.xml
*.py[cod]
*.pymon
*.ipynb_checkpoints
*DS_Store*

# C extensions
*.so

# Tmp Files
*.swp

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.pypirc

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
.cache
.pytest_cache/

# Translations
*.mo

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# PyCharm
.idea
.idea/*

# VSCode
.vscode
.vscode/*

# Vagrant
.vagrant
Vagrantfile

# rope project settings
.ropeproject

#conda version
__conda_version__.txt
mbuild/version.py

#virtual env
.env/

# protobuf generated py file
compound_pb2.py
