*.py[cod]
*.ipynb_checkpoints

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.pypirc

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
.cache

# Translations
*.mo

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# PyCharm
.idea
.idea/*

# Vagrant
.vagrant
Vagrantfile

# rope project settings
.ropeproject

#conda version
__conda_version__.txt
mbuild/version.py

#virtual env
.env/
