repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 21.5b1
  hooks:
    - id: black
      args: [--line-length=80]
- repo: https://github.com/pycqa/isort
  rev: 5.8.0
  hooks:
    - id: isort
      name: isort (python)
      args: [--profile=black, --line-length=80]
- repo: https://github.com/pycqa/pydocstyle
  rev: '6.0.0'
  hooks:
    - id: pydocstyle
      exclude: ^(mbuild/tests/|docs/|devtools/|setup.py|mbuild/formats/charmm_writer.py|mbuild/formats/gomc_conf_writer.py|mbuild/utils/specific_ff_to_residue.py)
      args: [--convention=numpy]
