environment:
  global:
    PYTHONUNBUFFERED: 1

  matrix:
    - PYTHON: "C:\\Miniconda3-x64"
      CONDA_PY: "35"
      ARCH: "64"

install:
  - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
  - conda config --add channels omnia
  - conda config --add channels janschulz
  - conda config --add channels bioconda
  - conda config --add channels glotzer
  - conda config --add channels mosdef
  - conda update -yq --all
  - conda install -yq conda-build jinja2

build: false

test_script:
  - conda build --quiet devtools\\conda-recipe
