numpy
scipy
packmol>=1!18.013
nglview>=0.6.2.3
oset
parmed
mdtraj==1.9.1;python_verion="3.5"
mdtraj;python_verion<"3.5"
mdtraj;python_verion>"3.5"
foyer
gsd
openbabel
networkx
pytest >=3.0
jupyter
nbformat
python-coveralls
# TODO: Remove the pinning of the pytest-cov version again once issue
#       https://github.com/z4r/python-coveralls/issues/66
#       is resolved.
#       Background: pytest-cov 2.6.0 has increased the version
#       requirement for the coverage package from >=3.7.1 to
#       >=4.4, which is in conflict with the version requirement
#       defined by the python-coveralls package for coverage==4.0.3.
# This fix from:
# https://github.com/pywbem/pywbem/commit/d85a3e73e08d2846073087733b790b5a8864d93f
pytest-cov>=2.4.0,<2.6
pytest-faulthandler
codecov
