numpy
scipy
packmol=1.0.0
nglview>=0.6.2.3
oset
parmed
# TODO: Remove pinning of mdtraj version once mol2 reader issues have been resolved.
#       https://github.com/mdtraj/mdtraj/pull/1378
#       Once this has been released in a new MDTraj version, this can be removed.
mdtraj==1.9.1
