#notebook #notebook-container {
    width: 100% !important;
    padding: 0 !important;
    -webkit-box-shadow: 0 0 12px 1px rgba(87,87,87,0.2);
    box-shadow: 0 0 12px 1px rgba(87,87,87,0.2);
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: normal;
}

dev.cell {
    padding: 0px;
}

body {
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight: normal;
    color: #404040;
    min-height: 100%;
    overflow-x: hidden;
    background: #edf0f2;
}

#notebook {
    padding-bottom: 20px;
}